<ion-content class="profile-page-container">

	<div class="boble-container">
	  <img *ngIf="monstring != null" src="../../assets/imgs/fylkesbobler/{{monstring.url.split('/')[3]}}.png" alt="">
	</div>
	<!--<test-component>hello</test-component>-->
  
	<!--
	<ukm-knapp class="rosa" id="bytt_monstring" (click)="unsetFylke();">
	  Bytt mønstring 
	</ukm-knapp>
  
	<ukm-knapp class="rosa" id="networkToggle" (click)="networkToggle();">
		Gå {{ showOfflineButton ? 'off' : 'on' }}line
	</ukm-knapp>
-->
  </ion-content>