
ukm-knapp {	
	--color-icon: #f0f011;	
}

.boble-container {
    position: relative;
    margin: 0 auto;
    width: 85vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#logg_inn {
    margin: 1em auto;
}

#bytt_monstring {
    margin: 1em auto;
}

#knappetest {
    margin: 1em auto;
}