<ion-content>

	<img src="assets/imgs/bolgetopp.png" id="bolgetopp" />
	<div *ngIf='hendelse' class="header {{ hendelse ? hendelse.type : '' }}">
		<h1>
			{{ hendelse.navn }}
		</h1>
		<p class="lead">
			<span *ngIf='hendelse.type == "category"'> - er en kategori</span>
			<span *ngIf='hendelse.type == "post"'> - er en post</span>
			<span *ngIf='hendelse.type == "default"'>{{hendelse.start | date}} <span *ngIf="hendelse.sted">|| </span>{{hendelse.sted}}
					<br><ion-badge class="internhendelse" *ngIf="hendelse.intern">Kun for deltakere</ion-badge>
			</span>
		</p>
	</div>
	
	<post *ngIf='hendelse && hendelse.type == "post"' pid="{{hendelse.post_id}}" [style.margin-top]="'-10vh'"></post>
	<ion-grid *ngIf='hendelse && hendelse.type == "default" && hendelse.detaljer'>
		<ion-row align-items-stretch>
			<ion-col col-6 *ngFor='let innslag of hendelse.innslag; let i = index;' (click)='visInnslag( innslag.id )'>
				
				<div *ngIf="innslag.bilde.isPlaceholder" class="innslag">
					<div class="overlay {{ i % 5 == 0 ? 'gul' : 'rosa' }}"></div>

					<h3 class="innslagheader">
						<span>{{ innslag.navn}}</span>
					</h3>
				</div>
				<div *ngIf="!innslag.bilde.isPlaceholder" class="innslag hasImage" [style.background-image]="'url('+ innslag.bilde.url + ')'">
					<div class="overlay {{ i % 5 == 0 ? 'gul' : 'rosa' }}"></div>
					<!-- Legg inn algotritme for hvert 5 bilde som rosa. -->
					<h3 class="innslagheader">
						<span>{{ innslag.navn}}</span>
					</h3>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div *ngIf='hendelse && hendelse.type == "default" && !hendelse.detaljer'>
		<h1 class="bigemoji">😬</h1>
		<h1 class="ikketilgjengelig">Programmet for denne hendelsen er ikke tilgjengelig ennå...</h1>
	</div>

	<div style="margin-bottom: 4em;"></div>

</ion-content>
