<ion-header>
	<ion-navbar>	
		<ion-title *ngIf='hendelse'>
			{{ hendelse.navn }}
			<span *ngIf='hendelse.type == "category"'> - er en kategori</span>
			<span *ngIf='hendelse.type == "post"'> - er en post</span>
			<span *ngIf='hendelse.type == "default"'> - er en vanlig forestilling</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>

	<!-- Fiks dette -> egen component for hendelser av type post. Sjekk binding. -->
	<div *ngIf='hendelse'>
		<post *ngIf='hendelse.type == "post"' pid="{{hendelse.post_id}}"></post>


		<ion-list *ngIf='hendelse.type == "default"'>
			<ion-item *ngFor='let innslag of hendelse.innslag' (click)='visInnslag( innslag.id )'>
				<ion-avatar item-start>
					<img src='{{ innslag.bilde.url }}'>
				</ion-avatar>
				<h3>{{ innslag | json}}</h3>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
