<ion-header>
  <ion-navbar>
    <ion-title>
      {{ programProvider.innslagData?.navn }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-content>
  <ion-card>
    <div *ngIf=" programProvider.innslagData?.bilder[0]">
      <ion-slides #slider (ionWillChange)="slideWillChange()">
        <ion-slide class="innslag_slide_bilde" *ngFor="let bilde of programProvider.innslagData?.bilder;" #slide>
          <img src="{{ bilde.url }}"/>
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngIf="!programProvider.innslagData?.bilder[0]">
      <img src="{{ programProvider.innslagData?.bilde.url }}"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        {{ programProvider.innslagData?.navn }}
      </ion-card-title>
      <p>
        {{ programProvider.innslagData?.beskrivelse }}
      </p>
    </ion-card-content>
    <ion-card-content>
    <ion-item>
      <ion-badge>{{ programProvider.innslagData?.type.navn }}</ion-badge>
      <ion-badge>{{ programProvider.innslagData?.kommune.navn }}</ion-badge>
    </ion-item>
    <div *ngIf=" programProvider.innslagData?.filmer[0]">
        <ion-card-title>
          <h1>Videoer av {{ programProvider.innslagData?.navn }}</h1>
        </ion-card-title>
          <div *ngFor="let video of programProvider.innslagData?.filmer;" #slide>
          <ion-item>
            <img src="{{video.bilde.url}}" (click)="spillFilm(video.fil.mobil, video.navn)">
            <ion-icon ios="ios-play" md="md-play" class="innslag_video_play"></ion-icon>
          </ion-item>
      </div>
    </div>
    <div *ngIf="!programProvider.innslagData?.bilder[0]">
      <img src="{{ programProvider.innslagData?.bilde.url }}"/>
    </div>
  </ion-card-content>
  </ion-card>

</ion-content>
</ion-content>
