<ion-content>
    <!-- <img src="assets/imgs/bolgetopp.png" id="bolgetopp" /> -->
    <div *ngIf='innslag.bilde' class="header">
        <div class="headerimg" [style.background-image]="'url(' + innslag.bilde.url + ')'"></div>
    </div>
    <h1>
        {{ innslag.navn }}
    </h1>

    <p id='description'>
        {{ innslag.beskrivelse }}
    </p>
    <div class="filmer" *ngIf="innslag.filmer != []">
        <ion-content overflow-scroll="true" *ngFor="let film of innslag.filmer">
            <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
                class="videoPlayer">
                <source [src]="film.url" type="video/mp4" />
            </video>
        </ion-content>
    </div>
    <ion-content overflow-scroll="true">
        <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source [src]="innslag.film.url" type="video/mp4" />
        </video>
    </ion-content>

    <!-- <div *ngIf="innslag.bilder">
        <div class="innslag_slide_bilde" *ngFor="let bilde of innslag.bilder;">
            <img src="{{ bilde.url }}" />
        </div>
    </div>
    <div *ngIf="!innslag.bilder">
        Fant ikke bilder, laster inn enkeltbilde...
        <img src="{{ innslag.bilde.url }}" />
    </div> -->




    <!-- <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{ innslag.navn }}
            </ion-card-title>
            <p>
                {{ innslag.beskrivelse }}
            </p>
        </ion-card-content>
        <ion-card-content>
            <ion-item>
                <ion-badge>{{ innslag.type.navn }}</ion-badge>
                <ion-badge>{{ innslag.kommune.navn }}</ion-badge>
            </ion-item>
            <div *ngIf="innslag.filmer">
                <ion-card-title>
                    <h1>Videoer av {{ innslag.navn }}</h1>
                </ion-card-title>
                <div *ngFor="let video of innslag.filmer;" #slide>
                    <ion-item>
                        <img src="{{video.bilde.url}}" (click)="spillFilm(video.fil.mobil, video.navn)">
                        <ion-icon ios="ios-play" md="md-play" class="innslag_video_play"></ion-icon>
                    </ion-item>
                </div>
            </div>
            <div *ngIf="!innslag.bilder">
                <img src="{{ innslag.bilde.url }}" />
            </div>
        </ion-card-content>
    </ion-card> -->
</ion-content>