<ion-content>
	<div padding>
		<ion-segment [(ngModel)]="valgtProgramModus" id="velgProgram">
			<ion-segment-button value="public">
				Program
			</ion-segment-button>
			<ion-segment-button value="mine">
				Mitt program
			</ion-segment-button>
		</ion-segment>

		<div *ngIf="program != null">
			<div *ngFor="let hendelse of program.getAll()">
				<ukm-knapp class="wide white rosa-rosa">
					<div float-right>
						<morph-icon startIcon="plus" stopIcon="check"></morph-icon>
						 <!-- (click)="updateMittprogram(hendelse.id)" -->
					</div>
					<h2 (click)="visHendelse( hendelse.id );">
						{{ hendelse.navn }}
					</h2>
					<p>kl. {{ hendelse.start|date:'HH:mm' }} {{ hendelse.sted }}</p>
				</ukm-knapp>
			</div>
		</div>
	</div>
</ion-content>