<ion-content>
	<div padding>
		<ion-segment [(ngModel)]="valgtProgramModus" style="    margin-top: 1.5em; margin-bottom: 3em;">
			<ion-segment-button value="public">
				Program
			</ion-segment-button>
			<ion-segment-button value="mine">
				Mitt program
			</ion-segment-button>
		</ion-segment>

		<div *ngIf="program != null">
			<ion-list>
				<ion-item *ngFor="let hendelse of program.getAll()">
					<ion-label (click)="visHendelse( hendelse.id );">
						<div float-right>
							<morph-icon startIcon="plus" stopIcon="check" (click)="updateMittprogram(hendelse.id)"></morph-icon>
						</div>
						<h2>
							{{ hendelse.navn }}
						</h2>
						<p>kl. {{ hendelse.start|date:'HH:mm' }} {{ hendelse.sted }}</p>
					</ion-label>

				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>