page-program {
    .segment .segment-button, 
    .segment-ios .segment-button {
        border: none !important;
        font-size: 1.4rem;
        font-family: 'AvantGardeBold';
        line-height: 3rem;
    }
    
    ion-segment-button.segment-button {
        background-color: $ukm_blaa !important;
        color: $ukm_rosa !important;
        transition: 300ms all ease;
    
    }
    ion-segment-button.segment-button.segment-activated {
        color: $ukm_rosa;
        font-size: 2rem;
    }    

    #velgProgram {
        margin-top: 3em;
        margin-bottom: 4.5em;
    }
}

page-hendelse {
    .header {
        margin-top: 28vh;
        margin-bottom: 14vh;
        font-size: 1.5em;
        text-align: center;

        h1 {
            font-size: 2.1em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    }

    .header.post {
        margin-bottom: 3vh;
    }

    .innslag {
        background: rgba(255, 18, 139, 1);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(0, 0, 76, 1);
        margin: .05em;
        margin-bottom: -.5em; // For å hindre rosa strek i bunn (but whyyy?)
        padding: .8em;
        padding-top: 6em;
        height: 100%;

        .h3 {
            position: relative;
            bottom: 0;
            left: 0;
            font-size: 2.2rem;
            padding: .1em;
            line-height: 1.2em;
        }
    }
    .innslag.hasImage {
        h3 > span {
            background: rgba(255, 18, 139, .8);
        }
    }


    post > .content {
        padding: 1.5em;
        font-size: 1.2em;
        margin-top: -10vh;
        line-height: 1.35em;
    }
}

page-innslag {

    .header {
        font-size: 1.2em;
        text-align: center;
        //background-color: $ukm_rosa;
        height: 33vh;
    }
    .headerimg {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    h1 {
        text-align: center;
        padding-top: 10rem;
        font-size: 2.2em;
        text-transform: uppercase;
    }
    p#description {
        padding-top: 1em;
        padding-bottom: 4em;
        width: 90vw;
        font-size: 1.2rem;
        margin: 0 auto;
        display: block;

        .visible {
            display: initial;
        }

        .hidden {
            display: none;
        }
    }

    .center-div {
        width: 100vw;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: .6em;
        
        ion-badge {
            background: $ukm_gul;
            color: $ukm_blaa;
        }
    }

}