page-program {
    .segment .segment-button, 
    .segment-ios .segment-button {
        border: none !important;
        font-size: 1.8rem;
        font-family: 'AvantGardeBold';
        line-height: 3rem;
    }
    
    ion-segment-button.segment-button {
        background-color: $ukm_blaa !important;
        color: white; //$ukm_rosa !important;
        text-transform: uppercase;
        transition: 300ms all ease;
    
    }
    ion-segment-button.segment-button.segment-activated {
        color: white; //$ukm_rosa;
        text-transform: uppercase;
        font-size: 2.4rem;
    }    

    #velgProgram {
        margin-top: 3em;
        margin-bottom: 4.5em;
    }
}

page-hendelse {
    .header {
        margin-top: 28vh;
        margin-bottom: 14vh;
        font-size: 1.5em;
        text-align: center;

        h1 {
            font-size: 2.1em;
            text-transform: uppercase;
            margin-bottom: 1em;
            font-family: 'AvantGardeBold';
        }
        p {
            font-family: 'AvantGarde';
        }
    }

    .header.post {
        margin-bottom: 3vh;
    }

    .bigemoji {
        margin-top: -3rem;
        text-align: center;
        font-size: 4em;
    }
    .internhendelse {
        font-family: 'Arial';
        font-weight: bold;
        font-size: 1.4rem;
        background: $ukm_gul;
        color: $ukm_blaa;
        text-transform: uppercase;
    }

    .ikketilgjengelig {
        text-align: center;
        font-size: 1.8rem;
        font-family: 'AvantGarde';
    }

    .innslag {
        background: rgba(255, 18, 139, 1);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(0, 0, 76, 1);
        margin: .05em;
        margin-bottom: -.5em; // For å hindre rosa strek i bunn (but whyyy?)
        padding: .8em;
        padding-top: 6em;
        height: 100%;

        .h3 {
            position: relative;
            bottom: 0;
            left: 0;
            font-size: .6rem;
            padding: .1em;
            line-height: 1.2em;
        }
        .innslagheader {
            font-size: 1.2em;
            font-family: 'AvantGardeBold';
            z-index: 2;
            position: relative;
        }
    }
    .innslag.hasImage {
        h3 > span {
            //background: rgba(255, 18, 139, .8);
            z-index: 2;
            position: relative;
            color: $ukm_blaa;
        }
    }


    post > .content {
        padding: 1.5em;
        font-size: 1.2em;
        margin-top: -10vh;
        line-height: 1.35em;
    }

    .overlay {
        width: 46.2vw;
        height: 94.4%;
        position: absolute;
        top: .5rem;
        left: .5rem;
        z-index: 1;
    }    
    .overlay.rosa {
        background: rgba($ukm_rosa, 0.85);
        color: $ukm_blaa;
        z-index: 1;
    }
    .overlay.gul {
        background: rgba($ukm_gul, 0.85);
        color: $ukm_blaa;
        z-index: 1;
    }
        //background: rgba($ukm_rosa, 0.85)  //linear-gradient(to top, rgba($ukm_rosa, 0.9) 40%, rgba($ukm_rosa, 0.4)); 
}

page-innslag {
    .containerimg {
        background-position: center center;
        background-attachment: sticky;
        background-size: contain;
        height: 35vh;
        filter: blur(6px);
        width: 100vw;
        top: 0;
        position: absolute;
        transform: scale(1.1);
        
    }
    .placeholder {
        background: linear-gradient(-30deg, $ukm_gul, $ukm_rosa);
    }

    .header {
        width: 100vw;
        height: 100vh;
        top: 30vh;
        /* border-top-left-radius: 60% 8%; */
        /* border-top-right-radius: 60% 8%; */
        background: #00004c;
        position: absolute;
    }

    .headerimg {
        width: 30vw;
        height: 30vw;
        background-size: cover;
        background-repeat: no-repeat;
        border: 4px solid rgba(255, 18, 139, 0.8);
        margin: 0 auto;
        position: relative;
        margin-top: -6rem;
        border-radius: 50%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    }
    .contentbox {
        width: 100vw;
        position: relative;
        margin-top: 40vh;
    }

    .content {
        color: white;
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 3.2rem;
            font-family: 'AvantGardeBold';
        }
        .tags {
            width: max-content;
            margin: 0 auto;
            font-family: 'Arial';

            ion-badge {
                padding: 4px 6px 4px 6px;
                background: $ukm_gul;
                color: $ukm_blaa;
            }
        }
        .title {
            text-align: center;
            font-size: 1.6rem;
        }
        .description {
            width: 95vw;
            margin: 0 auto;
            text-align: justify;
            font-size: 1.2rem;
            display: block;
    
            .visible {
                display: initial;
            }
    
            .hidden {
                display: none;
            }
        }
        .personvisning {
            margin-top: 2.5rem;
            .rolle {
                text-align: right;
                font-size: 1.2rem;
            }
            ion-row:nth-child(odd) {
                color: $ukm_gul;
            }
            .top-line {
                border-color: $ukm_gul;
            }
        }
        ion-slides {
            .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                button {
                    background: $ukm_rosa;
                    padding: 8px;
                }
            }
            .innslag_slide_bilde {
                width: 100%;
                height: 56vw;
                background-size: cover;
                background-position: center center;
            }
        }
    }
 /*
    .header {
        font-size: 1.2em;
        padding: 0;
    }
    .headerimg {
        height: 57vh;
        margin-top: -4rem;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    h1 {
        text-align: center;
        padding-top: 2rem;
        font-size: 2.2em;
        text-transform: uppercase;
    }
    p#description {
        padding-top: 1em;
        padding-bottom: 4em;
        width: 95vw;
        text-align: justify;
        font-size: 1.2rem;
        margin: 0 auto;
        display: block;

        .visible {
            display: initial;
        }

        .hidden {
            display: none;
        }
    }
    

    .heading {
        color: white;
    }

    .center-div {
        width: 100vw;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: .6em;
        
        ion-badge {
            background: $ukm_gul;
            color: $ukm_blaa;
            margin: .2rem;

        }
    }

    ion-slides {
        .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
            button {
                background: $ukm_rosa;
            }
        }
        .innslag_slide_bilde {
            width: 100%;
            height: 56vw;
            background-size: cover;
            background-position: center center;
        }
    }

    .personvisning {
        .rolle {
            text-align: right;
            font-size: 1.2rem;
        }
        ion-row:nth-child(odd) {
            color: $ukm_gul;
        }
        .top-line {
            border-color: $ukm_gul;
        }
    }
    .tittelvisning {
        text-align: center;
        margin-top: 1.2rem;
    }*/
}

//Global
.stinesmarger {
    width: 95vw;
    margin: 0 auto;
}