page-profile {

}



.segment-ios .segment-button {
    border: none !important;
    font-size: 1.4rem;
    font-family: 'AvantGardeBold';
    line-height: 3rem;
}

ion-segment-button.segment-button {
    background-color: $ukm_blaa !important;
    color: $ukm_rosa !important;
    transition: 300ms all ease;

}
ion-segment-button.segment-button.segment-activated {
    color: $ukm_rosa;
    font-size: 2rem;
}