<img src="assets/bolgetopp.png" id="bolgetopp" />
<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col size="8" offset="2" size-md="4" offset-md="0" offset-lg="1">
				<div text-align="center">
					<img src="assets/logo_hvit_0500.png" id="selectLogo" />
				</div>
			</ion-col>

			<ion-col size="12" size-md="7" size-lg="6" offset-md="1">
				<div *ngIf="monstringer && monstringer.length > 0">

					<ion-item>
						<ion-label>Fylke</ion-label>
						<ion-select placeholder="Velg.." interface="action-sheet" (ionChange)="velgFylke($event.detail.value)">
							<ion-select-option *ngFor="let monstring of monstringer" value="{{ monstring.fylke.id }}">
								{{ monstring.fylke.navn}}
							</ion-select-option>
						</ion-select>
					</ion-item>

					<div *ngIf="innslag_typer && innslag_typer.length > 0">
						<ion-item>
							<ion-label>Type deltaker</ion-label>
							<ion-select placeholder="Velg.." interface="action-sheet" (ionChange)="velgType($event.detail.value)">
								<ion-select-option *ngFor="let type of innslag_typer" value="{{ type.key }}">
									{{ type.navn}}
								</ion-select-option>
								<ion-select-option value="0">Publikum 🏅</ion-select-option>
							</ion-select>
						</ion-item>


						<ion-button color="primary" expand="block" (click)="thisIsMe()">Take me there
						</ion-button>
					</div>
				</div>

				<div *ngIf="!monstringer || (monstringer && monstringer.length == 0)" class="pleaseDoConnectMe">
					<offline>
						Appen trenger litt internett
						<br />
						for å komme videre.
					</offline>
					<online>
						Henter informasjon...
					</online>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>