:host {
	//color: var( --color, #00ff00);
}

div {
	-webkit-transition: all .16s ease-in-out, opacity 0.16s ease-in-out;
	-moz-transition: all .16s ease-in-out, opacity 0.16s ease-in-out;
	-o-transition: all .16s ease-in-out, opacity 0.16s ease-in-out;
	transition: all .16s ease-in-out, opacity 0.16s ease-in-out;
	width: 1em;
	height: 1em;
	text-align: center;
}

.hidden {
	font-size: 0%;
	opacity: 0;
	transform: rotate( -150deg );
	-webkit-transform: rotate( -150deg );
}

.visible {
	font-size: 100%;
	opacity: 1;
	transform: rotate( 0deg );
	-webkit-transform: rotate( 0deg );
}

.the-icon-container {
	font-size: var( --font-size );
	//color: var(--color);
}