<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="hjem">
			<ion-icon name="home"></ion-icon>
			<ion-label>Hjem</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="program">
			<ion-icon name="calendar"></ion-icon>
			<ion-label>Program</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="info">
			<ion-icon name="star"></ion-icon>
			<ion-label>Info</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="innstillinger">
			<ion-icon name="cog"></ion-icon>
			<ion-badge *ngIf="!infoWarning" id="appIsOfflineBadge">
				<ion-icon name="airplane"></ion-icon>
			</ion-badge>
			<ion-label>Innstillinger</ion-label>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>