<ion-content *ngIf="innslag">
	<div class="container">

		<!-- INNSLAG HAR BILDE -->
		<div *ngIf="innslag.bilde && !innslag.bilde.isPlaceholder">
			<div class="containerimg" [style.background-image]="'url(' + innslag.bilde.url + ')'"></div>
			<div class="header">
				<div class="headerimg" [style.background-image]="'url(' + innslag.bilde.url + ')'"></div>
			</div>
		</div>
		<!-- INNSLAG HAR IKKE BILDE -->
		<div *ngIf="!innslag.bilde || (innslag.bilde && innslag.bilde.isPlaceholder)">
			<div class="containerimg placeholder"></div>
			<div class="header">
				<div class="headerimg placeholder"></div>
			</div>
		</div>

		<!-- INFO OM INNSLAGET-->
		<div class="contentbox">
			<!-- BASIS-INFO (+titler)-->
			<div class="content">
				<h1>{{innslag.navn}}</h1>

				<!-- TAGS -->
				<div class="tags">
					<ion-badge>
						<span class="blueback">{{ innslag.sjanger_eller_kategori }}</span>
					</ion-badge>
					<ion-badge *ngIf="innslag.kommune">
						<span class="blueback">{{ innslag.kommune.navn }}</span>
					</ion-badge>
				</div>

				<!-- TITLER (DEL AV DETALJER) -->
				<div *ngIf="detaljer && detaljer.titler && detaljer.titler.length > 0">
					<div *ngFor="let tittel of detaljer.titler">
						<p class="title">&laquo;{{ tittel.navn }}&raquo;</p>
					</div>
				</div>

				<!-- BESKRIVELSE-->
				<p *ngIf="innslag.beskrivelse" class="description" (click)="showRest()">
					{{innslag.beskrivelse | shorten: 140}}<span id="followingdots" class="visible">...</span>
					<span id="restofdescription" class="hidden">
						{{ innslag.beskrivelse | showrest: 140 }}
					</span>
				</p>
			</div>


			<!-- VIS AT VI TRENGER OFFLINE FOR RESTEN AV HENTINGEN -->
			<offline *ngIf="!detaljer || detaljer.isPlaceholder()"></offline>

			<!-- DETALJER OM INNSLAGET (eget API-kall) -->
			<div class="content" *ngIf="detaljer">
				<!-- PERSONER -->
				<ion-grid *ngIf="detaljer.personer.length > 0" class="personvisning">
					<ion-row *ngFor="let person of detaljer.personer">
						<ion-col class="navn">{{person.fornavn}} {{person.etternavn}} ({{person.alder.replace('
								år','')}}), {{person.rolle | lowercase}}</ion-col>
					</ion-row>
				</ion-grid>


				<!-- BILDER -->
				<div class="bilder-spot" *ngIf="detaljer.bilder.length > 0">
					<ion-slides #slider zoom=true (ionWillChange)="slideWillChange()">
						<ion-slide *ngFor="let bilde of detaljer.bilder;" #slide>
							<div class="swiper-zoom-container">
								<div class="bilde-container">
									<div class="bilde" [style.background-image]="'url(' + bilde.url + ')'">
									</div>
									<h5>Foto: kommer senere 🐠</h5>

								</div>
							</div>
						</ion-slide>
					</ion-slides>
				</div>

				<!-- FILMER -->
				<div class="video-spot" *ngIf="detaljer.filmer.length > 0">
					<ion-slides zoom="true">
						<ion-slide *ngFor="let film of detaljer.filmer let i = index;"
							(click)='spillVideo(film.fil.mobil)'>
							<div class="swiper-zoom-container">
								<div class="video-container">
									<div class="video" [style.background-image]="film.bilde ? 'url(' + film.bilde.url + ')' : ''">
										<ion-icon ios="ios-play" md="md-play"></ion-icon>
									</div>
									<h5 [innerHTML]="film.navn"></h5>
								</div>
							</div>
						</ion-slide>
					</ion-slides>
				</div>

				<!-- ARTIKLER -->
				<div *ngIf="detaljer.artikler.length > 0" class="artikler">
					<h1>Artikler</h1>
					<div *ngFor="let artikkel of detaljer.artikler">
						<h4 padding><a (click)="visArtikkel(artikkel.id)">{{artikkel.navn}}</a></h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</ion-content>