<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!this.monstring">UKM</ion-title>
		<ion-title *ngIf="this.monstring">{{ monstring.navn }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="this.monstring">
		
		<ion-list>
			<ion-item (click)="visKart();">
				<ion-icon name="pin" item-start></ion-icon>
				<small>
					{{ monstring.sted }}
				</small>
			</ion-item>
	
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<small>
					{{ monstring.start|date:'d. MMM \k\l. HH:mm' }} - {{ monstring.stop|date:'d. MMM \k\l. HH:mm' }}
				</small>
			</ion-item>
		</ion-list>
	</div>
	<div *ngIf="nyheter">
		<ion-list> 
			<ion-item *ngFor="let nyhet of nyheter.getAll()" (click)="visNyhet(nyhet)">
				<ion-thumbnail item-start>
					<img src="{{nyhet.image}}">
				</ion-thumbnail>
				<h1>{{ nyhet.title }}</h1>
				<p>{{ nyhet.lead}}</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>