<!-- <ion-header>
  <ion-navbar>
    <ion-title *ngIf="!this.monstring">UKM</ion-title>
		<ion-title *ngIf="this.monstring">{{ monstring.navn }}</ion-title>
	</ion-navbar>
</ion-header> -->

<ion-content>

	<!-- <div *ngIf="this.monstring">
		
		<ion-list>
			<ion-item>
				<ion-icon name="pin" item-start></ion-icon>
				<small>
					{{ monstring.sted }}
				</small>
			</ion-item>
	
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<small (click)="addToCalendar();">
					{{ monstring.start|date:'d. MMM \k\l. HH:mm' }} - {{ monstring.stop|date:'d. MMM \k\l. HH:mm' }}
				</small>
			</ion-item>
		</ion-list>
	</div> -->
	<div *ngIf="!nyheter">
		<h1>Laster inn nyhetssaker</h1>
	</div>
	<div *ngIf="nyheter != null">
		<div *ngFor="let nyhet of nyheter.getAll(); index as i;">
			<div class="home-top-nyhet">
				<div class="top-nyhet-image" *ngIf="i == 0" [style.background-image]="'url(' + nyhet.image + ')'" (click)='visNyhet(nyhet)'>
					<h2>
						<span>
							{{nyhet.title}}
						</span>
					</h2>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<div class="home-innslag-scroll">
			<br>
			<h5>Navn Innslag</h5>
		</div>
		<br>
		<br>
		<br>

		<!-- Legg inn marger på disse. -->
		<div> 
			<div *ngFor="let nyhet of nyheter.getAll(); index as i;">
				<div *ngIf="i == 1" [style.background-image]="'url(' + nyhet.image + ')'" class="dual-spot-sak" (click)='visNyhet(nyhet)'>
					<h3>
						<span>{{ nyhet.title}}</span>
					</h3>
				</div>
			</div>
			<div *ngFor="let nyhet of nyheter.getAll(); index as i;">
				<div *ngIf="i == 2" [style.background-image]="'url(' + nyhet.image + ')'" class="dual-spot-sak" (click)='visNyhet(nyhet)'>
					<h3>
						<span id="sakto">{{ nyhet.title}}</span>
					</h3>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="video-spot" *ngIf="film">
			<img [src]="film.bilde.url" alt="" (click)='spillVideo(film.fil.mobil)'>
		</div>
		<br>
		<br>
		<br>
		<br>
		<ion-grid>
			<ion-row align-items-stretch>
				<ion-col col-6 *ngFor='let nyhet of nyheter.getAll(); index as i' (click)='visNyhet( nyhet)'>
					<div *ngIf="!nyhet.image" class="nyhetsrute">
						<h3>
							<span>{{ nyhet.title}}</span>
						</h3>
					</div>
					<div *ngIf="nyhet.image" class="nyhetsrute hasImage" [style.background-image]="'url('+ nyhet.image + ')'">
						<h3>
							<span>{{ nyhet.title}}</span>
						</h3>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


		<!-- <ion-list> 
			<ion-item *ngFor="let nyhet of nyheter.getAll()" (click)="visNyhet(nyhet)">
				<ion-thumbnail item-start>
					<img src="{{nyhet.image}}">
				</ion-thumbnail>
				<h1>{{ nyhet.title }}</h1>
				<p>{{ nyhet.lead}}</p>
			</ion-item>
		</ion-list> -->
	</div>
</ion-content>