@font-face {
  font-family: 'ukm-icomoon';
  src:  url('../fonts/ukm-icomoon.eot?8b5n3c');
  src:  url('../fonts/ukm-icomoon.eot?8b5n3c#iefix') format('embedded-opentype'),
    url('../fonts/ukm-icomoon.ttf?8b5n3c') format('truetype'),
    url('../fonts/ukm-icomoon.woff?8b5n3c') format('woff'),
    url('../fonts/ukm-icomoon.svg?8b5n3c#ukm-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ukmico-"], [class*=" ukmico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ukm-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ukmico-plus:before {
  content: "\e905";
}
.ukmico-check:before {
  content: "\e900";
}
.ukmico-info:before {
  content: "\e901";
}
.ukmico-list:before {
  content: "\e902";
}
.ukmico-home:before {
  content: "\e903";
}
.ukmico-settings:before {
  content: "\e904";
}
