page-info {
    ion-content {
        background: $ukm_blaa !important;
        min-height: 100vh;
    }

    .kontaktpersoner {
        margin-top: 3vh;
    }

    .kontaktpersoner .kontakt-info {
        text-align: center;
    }
}