<ion-content>
  <div *ngIf="kontaktpersoner == null">
    <h1>Laster inn kontaktpersoner</h1>
  </div>
  <div *ngIf="kontaktpersoner != null" class="kontaktpersoner">
    <h1>Kontaktpersoner</h1>
    <h6>Trykk på bildet for å ta kontakt</h6>
    <div class="kontaktpersoner-scroll">
      <br>
      <ion-slides zoom="true" slidesPerView="3">
        <ion-slide *ngFor="let j of kontaktpersoner.getAll(); let i = index;" (click)="ringKontakt(j.telefon)">
          <div class="swiper-zoom-container" *ngIf="j.bilde">
            <div class="placeholder" *ngIf="!j.bilde.url"></div>
            <div *ngIf="j.bilde.url" [style.background-image]="'url(' + j.bilde.url + ')'" class="kontaktbilde"></div>
          </div>
          <div class="kontakt-info">
              <h1 class="fornavn">{{j.fornavn}}</h1>
              <h1 class="tittel">{{j.tittel}}</h1>
              <h3 *ngIf="j.telefon != '0'" class="telefon">{{j.telefon}}</h3>
              <h4 class="epost">{{j.epost}}</h4>
            </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div *ngIf='info != false'>
    <h1 class="info-overskrift">Informasjon</h1>
    <ion-list *ngFor="let item of info.getAll()" class="info-list">
      <ukm-knapp class="wide white rosa-rosa">
        <accordion visibleText="{{item.title}}" isShowing=false class="ukm-gradient-rosa-gul">
          <div class="item-info">
            <h4>{{item.lead}}</h4>
            <h5 class="ukm-text-gul" (click)="visInfo( item )"><span class="hovstad hovstad-arrow"></span></h5>
          </div>
        </accordion>
      </ukm-knapp>
    </ion-list>
  </div>
</ion-content>