<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>InfoPage</ion-title>
  </ion-navbar>

</ion-header> -->

  <ion-content class="page-info-content">
    <ion-list>
      <accordion visibleText="Testing testing Again" isShowing=false>
        Testing Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Natus alias dignissimos dolore, at cum illum totam deserunt voluptatem molestiae aliquam. Illum laudantium
        error
        dignissimos quo libero nesciunt maxime, eveniet neque.
      </accordion>
    </ion-list>



    <!-- <div *ngIf="kontaktpersoner == null">
    <h1>Laster inn kontaktpersoner</h1>
  </div>
  <div *ngIf="kontaktpersoner != null">
    <ion-list *ngFor="let kontakt of kontaktpersoner.getAll()">
      <ion-item>
        <ion-thumbnail *ngIf="kontakt.bilde"><img src="{{kontakt.bilde.url}}"></ion-thumbnail>
        {{kontakt.fornavn}}
        {{kontakt.etternavn}}
        {{kontakt.telefon}}
        {{kontakt.epost}}
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="info != null">
    <ion-list>
      <ion-item *ngFor="let item of info.getAll()" (click)="visInfo( item )">
        <ion-thumbnail item-start>
          <img src="{{item.image}}">
        </ion-thumbnail>
        <h1>{{ item.title }}</h1>
        <p>{{ item.lead }}</p>
      </ion-item>
    </ion-list>
  </div> -->
  </ion-content>