<ion-content>

	<!-- TOPPSAKEN -->
	<div class="topp-sak" *ngIf="nyheter && nyheter.length > 0">
		<div class="image" [style.background-image]="'url(' + nyheter[0].image + ')'" (click)='visNyhet(nyheter[0].id)'>
			<h2>
				<span class="background" [innerHTML]="nyheter[0].title"></span>
			</h2>
		</div>
	</div>

	<!-- ALLE INNSLAG -->
	<div class="innslag-scroll" *ngIf="alle_innslag && alle_innslag.length > 0">
		<ion-slides slidesPerView="3">
			<ion-slide *ngFor="let innslag of alle_innslag; let i = index;" (click)='visInnslag( innslag.id )'>
				<div class="innslag">
					<div class="swiper-zoom-container">
						<img *ngIf="!innslag.bilde.isPlaceholder" src="{{innslag.bilde.url}}" class="bilde">
						<div *ngIf="innslag.bilde.isPlaceholder"
							class="bilde placeholder {{ i % 4 == 0 ? 'gul' : 'rosa' }} {{ i % 7 == 0 ? 'gronn' : '' }}">
						</div>
						<div class="overlay"></div>
					</div>
					<h4 class="navn">{{innslag.navn}}</h4>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<!-- TOPPSAKER (#2 og #3) -->
	<ion-grid>
		<ion-row class="nyheter toppsaker" *ngIf="nyheter && nyheter.length > 0">
			<ion-col size="6" *ngFor='let nyhet of nyheter | slice: 1:3; index as i;'>
				<div [style.background-image]="nyhet.image ? 'url(' + nyhet.image + ')' : ''" class="dual-spot-sak {{nyhet.image ? 'hasImage' : ''}}"
					(click)='visNyhet(nyhet.id)'>
					<h3>
						<span class="background" [innerHTML]="nyhet.title"></span>
					</h3>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>


	<!-- SISTE FILMER FRA UKM-TV -->
	<div class="video-spot" *ngIf="filmer && filmer.length > 0">
		<ion-slides zoom="true">
			<ion-slide *ngFor="let film of filmer; let i = index;" (click)='spillVideo( film.fil.mobil )'>
				<div class="swiper-zoom-container">
					<div class="video-container">
						<div class="video" [style.background-image]="film.bilde ? 'url(' + film.bilde.url + ')' : ''">
							<ion-icon ios="ios-play" md="md-play"></ion-icon>
						</div>
						<h5 [innerHTML]="film.navn ? film.navn : '&nbsp;'"></h5>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>

	<!-- ØVRIGE NYHETER-->
	<ion-grid *ngIf="nyheter && nyheter.length > 0 " class="nyheter">
		<ion-row  align-items-stretch>
			<ion-col size="6" *ngFor='let nyhet of nyheter | slice: 3; index as i;' (click)='visNyhet( nyhet.id )'>
				<div [style.background-image]="nyhet.image ? 'url(' + nyhet.image + ')' : ''" class="dual-spot-sak {{nyhet.image ? 'hasImage' : ''}}"
					(click)='visNyhet(nyhet.id)'>
					<h3>
						<span class="background" [innerHTML]="nyhet.title"></span>
					</h3>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>