<ion-content>

	<img src="assets/imgs/bolgetopp.png" id="bolgetopp" />
	<div *ngIf='hendelse' class="header {{ hendelse ? hendelse.type : '' }}">
		<h1>
			{{ hendelse.navn }}
		</h1>
		<p class="lead">
			{{hendelse.start | date:'d.MMM \kl. HH:mm' }}
			<span *ngIf="hendelse.sted">| {{hendelse.sted}}</span>
			<br />
			<ion-badge class="internhendelse" *ngIf="hendelse.intern">Kun for deltakere</ion-badge>
		</p>
	</div>

	<!-- POST -->
	<post *ngIf='hendelse && hendelse.type == "post"' post_id="{{hendelse.post_id}}" [style.margin-top]="'-10vh'">
	</post>


	<!-- INNSLAG -->
	<ion-grid *ngIf='hendelse && hendelse.type == "default" && innslag && innslag.length > 0'>
		<ion-row align-items-stretch>
			<ion-col size="6" *ngFor='let innslag of innslag; let i = index;' (click)='visInnslag( innslag.id )'>
				<!-- Hvis har bilde: sett background-image + addClass( hasImage )-->
				<!-- Hvis ikke bilde: set tom background-image -->
				<div class="innslag"
					[style.background-image]="innslag.bilde && !innslag.bilde.isPlaceholder ? 'url('+ innslag.bilde.url + ')' : ''"
					class="innslag {{innslag.bilde && !innslag.bilde.isPlaceholder ? 'hasImage':''}}">
					<div class="overlay {{ i % 5 == 0 ? 'gul' : 'rosa' }}"></div>
					<h3>
						<span class="background">{{ innslag.navn}}</span>
					</h3>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- OFFLINE, SKULLE HATT INNSLAG -->
	<div *ngIf='hendelse && ( (hendelse.type == "default" && (!innslag || (innslag && innslag.length == 0))) || (hendelse.type == "category" && (!posts || (posts && posts.length == 0) )))'
		class="ait">
		<h1 class="bigemoji">😬</h1>
		<p>Programmet for denne hendelsen er ikke tilgjengelig ennå...</p>
		<offline>
			<p>
				Fordi du er offline kan programmet være tilgjengelig,
				selv om vi ikke får vist det her.
			</p>
		</offline>
	</div>



	<!-- KATEGORI -->
	<post-grid *ngIf="hendelse && hendelse.type == 'category' && posts && posts.length > 0" [posts]="posts"
		(onVisNyhet)="visNyhet( $event[0] )" class="alle_saker"></post-grid>

	<!-- OFFLINE, SKULLE VIST KATEGORI -->
	<offline *ngIf="hendelse && hendelse.type == 'category' && (!posts || (posts && posts.length == 0))">
		<p padding>
			Fordi du er offline kan programmet være tilgjengelig,
			selv om vi ikke får vist det her.
		</p>
	</offline>
</ion-content>