// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

//Variables
$ukm_bla:  rgb(0, 0, 76);
$ukm_bla_hex: #00004c;

$ukm_rosa:  rgb(255, 18, 139);
$ukm_rosa_hex: #ff128b;

$ukm_gul:   rgb(255, 240, 86);
$ukm_gul_hex: #fff056;

$ukm_gronn: rgb(0, 255, 137);
$ukm_gronn_hex: #00ff89;

$ukm_farger_navn: 'bla', 'rosa', 'gul', 'gronn';
$ukm_farger: $ukm_bla, $ukm_rosa, $ukm_gul, $ukm_gronn;

$grade_shade: 10.8;
$grade_tint: 5.6;


.stinesmarger {
    width: 95vw;
    margin: 0 auto;
}








/*
	$colors: (
	primary:    $ukm_rosa,
	secondary:  $ukm_gul,
	danger:     $ukm_gronn,
	light:      #f4f4f4,
	dark:       $ukm_bla,
	lightdark:  $ukm_gul,
	);
	$ukm_bla_light: rgba(107,189,249,1);
	$ukm_bla_light_opac_2: rgba(107,189,249, .2);// lighten( $ukm_bla, 10 );
*/

@font-face {
	font-family: 'AvantGardeBold';
	src: url("../assets/fonts/ag-bold.otf") format("opentype");
  }
  @font-face {
	font-family: 'AvantGarde';
	src: url("../assets/fonts/ag-regular.otf") format("opentype");
  }

/** Ionic CSS Variables **/
:root {

	--UKM-rgb-bla: $ukm_bla;
	--UKM-hex-bla: $ukm_bla_hex;
	--UKM-rgb-rosa: $ukm_rosa;
	--UKM-hex-rosa: $ukm_rosa_hex;
	--UKM-rgb-gul: $ukm_gul;
	--UKM-hex-gul: $ukm_gul_hex;
	/*
	 * BACKGROUND COLORS
	 * See stepped color variables generator
	 * https://ionicframework.com/docs/theming/advanced#stepped-colors
	*/
	--ion-background-color: #00004c;
	--ion-background-color-rgb: $ukm_bla;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #0d0d55;
	--ion-color-step-100: #1a1a5e;
	--ion-color-step-150: #262667;
	--ion-color-step-200: #333370;
	--ion-color-step-250: #404079;
	--ion-color-step-300: #4d4d82;
	--ion-color-step-350: #59598b;
	--ion-color-step-400: #666694;
	--ion-color-step-450: #73739d;
	--ion-color-step-500: #8080a6;
	--ion-color-step-550: #8c8cae;
	--ion-color-step-600: #9999b7;
	--ion-color-step-650: #a6a6c0;
	--ion-color-step-700: #b3b3c9;
	--ion-color-step-750: #bfbfd2;
	--ion-color-step-800: #ccccdb;
	--ion-color-step-850: #d9d9e4;
	--ion-color-step-900: #e6e6ed;
	--ion-color-step-950: #f2f2f6;
	/* E.O BACKGROUND COLORS */

	/**
	 * THEME COLORS
	**/
	--ion-color-primary: $ukm_rosa_hex;
	--ion-color-primary-rgb: 255,18,139;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: darken( $ukm_rosa, $grade_shade );
	--ion-color-primary-tint: lighten( $ukm_rosa, $grade_tint );
  
	--ion-color-secondary: $ukm_gul;
	--ion-color-secondary-rgb: 255,240,86;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: darken( $ukm_gul, $grade_shade );
	--ion-color-primary-tint: lighten( $ukm_gul, $grade_tint );
    
	--ion-color-tertiary: #7044ff;
	--ion-color-tertiary-rgb: 112,68,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #633ce0;
	--ion-color-tertiary-tint: #7e57ff;
  
	--ion-color-success: #10dc60;
	--ion-color-success-rgb: 16,220,96;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #0ec254;
	--ion-color-success-tint: #28e070;
  
	--ion-color-warning: #ffce00;
	--ion-color-warning-rgb: 255,206,0;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #e0b500;
	--ion-color-warning-tint: #ffd31a;
  
	--ion-color-danger: #f04141;
	--ion-color-danger-rgb: 245,61,61;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #d33939;
	--ion-color-danger-tint: #f25454;
  
	--ion-color-dark: $ukm_bla;
	--ion-color-dark-rgb: 34,34,34;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: darken( $ukm_bla, $grade_shade );
	--ion-color-dark-tint: lighten( $ukm_bla, $grade_tint );
  
	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152,154,162;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;
  
	--ion-color-light: #f4f4f4;
	--ion-color-light-rgb: 244,244,244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d7d7;
	--ion-color-light-tint: #f5f5f5;

	font-size: 16px;
}

.bottom-spacer {
	height: 7vh;
}

/**
	* LISTER
**/
ion-list ion-item {
	margin: 0.33em auto;
}

ion-list.list-ios > .item-block:first-child {
	border: none;
}

ion-list-header,
ion-list-header.list-header {
	color: #ff128b;
	border-bottom: none;
	font-weight: bold;
}

@import "./hovstad.css";
@import "./icomoon.css";