// UKM SPECIFICS
@font-face {
  font-family: 'AvantGardeBold';
  src: url("../assets/fonts/ag-bold.otf") format("opentype");
}
@font-face {
  font-family: 'AvantGarde';
  src: url("../assets/fonts/ag-regular.otf") format("opentype");
}



//Variables
$ukm_blaa:  rgba(0, 0, 76, 1);
$ukm_blaa_light: rgba(107,189,249,1);
$ukm_blaa_light_opac_2: rgba(107,189,249, .2);// lighten( $ukm_blaa, 10 );
$ukm_rosa:  rgba(255, 18, 139, 1);
$ukm_gul:   rgba(255, 240, 86, 1);
$ukm_gronn: rgba(0, 255, 137, 1);

$ukm_farger_navn: 'bla', 'rosa', 'gul', 'gronn';
$ukm_farger: $ukm_blaa, $ukm_rosa, $ukm_gul, $ukm_gronn;


//Gradients
$ukm_rosa_gradient: linear-gradient(30deg, $ukm_blaa, $ukm_rosa);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $ukm_rosa,
  secondary:  $ukm_gul,
  danger:     $ukm_gronn,
  light:      #f4f4f4,
  dark:       $ukm_blaa,
  lightdark:  $ukm_gul,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden

$background-ios-color: $ukm_blaa;
$background-md-color: $ukm_blaa;
$background-wp-color: $ukm_blaa;

$list-background-color: $ukm_blaa;

$tabs-background: $ukm_blaa;
$tabs-tab-color-active: $ukm_rosa;
$tabs-tab-color-inactive: #cccccc;

@import "ionic.theme.dark";

/* BOTTOM TAB BAR */
.tabs .tabbar,
.tabs-ios .tabbar {
  //background-color: $ukm_blaa !important;
  border-top: 2px solid $ukm_blaa_light_opac_2 !important;
  padding-top: 4px;
  padding-bottom: 6px;
}

.tabs-md ion-icon.tab-button-icon,
.tab-button .tab-button-text {
    color: #ccc;//$ukm_blaa_light;
}

.tab-button[aria-selected="true"] .tab-button-text {
  color: $ukm_rosa;
}

/* LISTS */
ion-list-header,
ion-list-header.list-header {
  color: #ff128b;
  border-bottom: none;
  font-weight: bold;
}

ion-list.list ion-item.item > .item-inner {
  border: none;
  margin: .33em auto;
}
ion-list.list-ios > .item-block:first-child {
  border: none;
}

//.list-ios .item-block .item-inner

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
