<ion-content padding>
	<img src="assets/imgs/bolgetopp.png" id="bolgetopp" />

	<ion-grid>
		<ion-row>
			<ion-col col-8 offset-2 col-md-4 offset-md-0 offset-lg-1>

				<div align="center">
					<img src="https://grafikk.ukm.no/profil/logoer/UKM_logo_hvit_0500.png" id="selectLogo" />

					<!-- <ukm-knapp class="rosa" id="selectPosition" (click)="brukPosisjon()">
						<ion-icon name="locate"></ion-icon>
						Bruk posisjon
					</ukm-knapp> -->
				</div>
			</ion-col>

			<ion-col col-12 col-md-7 col-lg-6 offset-md-1>
				<div *ngIf="!loading">
					<ion-list>
						<ion-list-header>velg ditt fylke</ion-list-header>
						<ion-list>
							<ion-item *ngFor="let monstring of monstringerProvider.getAll()" (click)="velgMonstring( monstring )">
								{{ monstring.navn }}
							</ion-item>
						</ion-list>
					</ion-list>
				</div>

				<div *ngIf="loading">
					Vennligst vent, laster inn...
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>