<ion-content padding>
	
	
	<ion-grid>
		<ion-row>
			<ion-col col-8 offset-2 col-md-4 offset-md-0 offset-lg-1>
				<img src="https://grafikk.ukm.no/profil/logoer/UKM_logo_sort_0500.png" id="selectLogo" />

				<div align="center">
					<button ion-button outline round icon-start id="selectPosition" (click)="brukPosisjon()">
						<ion-icon name="locate"></ion-icon>
						Bruk posisjon
					</button>
				</div>

			</ion-col>

			<ion-col col-12 col-md-7 col-lg-6 offset-md-1>
				<div *ngIf="!loading">
					<ion-list>
						<ion-list-header>eller velg ditt fylke</ion-list-header>
						<ion-item *ngFor="let fylke of fylker.getAll()" (click)="valgtFylke( fylke )">
							{{ fylke.name }}
						</ion-item>
					</ion-list>
				</div>
			
				<div *ngIf="loading">
					Vennligst vent, laster inn...
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
