ukm-knapp {
    margin: 0 auto;
    display: block;
    width: 60vw;
    border-radius: 5px;
    padding: 4px;

    .text-container {
        background: val(--UKM-color-bla);
        border-radius: .25em;
    }

    .text {
        padding: .62em 1.24em;
        text-transform: uppercase;
        font-family: 'AvantGardeBold';
    }
}

ukm-knapp.wide {
    width: calc( 100% - 2em );
    margin: 1.1em 1em;
    text-align: left;

    .text-container {
        padding: .14em ;
    }

    h2 {
        margin: 0;
        font-size: 1.35em;
        line-height: 1em;
    }

    p {
        font-size: .85em;
        margin: .15em 0 0 0;
    }

    morph-icon {
        font-size: 2.5em;
        color: val(--UKM-color-rosa);
    }
}

ukm-knapp.wide.rosa h2 {
    color: val(--UKM-color-gul);
}
ukm-knapp.wide.white {
    color: white;
}

ukm-knapp.rosa {
	background: linear-gradient(-30deg, val(--UKM-color-rosa), val(--UKM-color-bla), val(--UKM-color-rosa));//$color_left, $ukm_blaa, $color_left);
	color: val(--UKM-color-rosa);
}