ukm-knapp {
    margin: 0 auto;
    display: block;
    width: 60vw;
    border-radius: 5px;
    padding: 4px;

    .text-container {
        background: $ukm_blaa;
        border-radius: .25em;
    }

    .text {
        padding: .62em 1.24em;
        text-transform: uppercase;
        font-family: 'AvantGardeBold';
    }
}

ukm-knapp.wide {
    width: calc( 100% - 2em );
    margin: 2.2em 1em;
    text-align: left;

    .text-container {
        padding: .25em;
    }

    h2 {
        margin: 0;
        font-size: 1.35em;
        line-height: 1em;
    }

    p {
        font-size: .85em;
        margin: .15em 0 0 0;
    }

    morph-icon {
        font-size: 2em;
    }
}

ukm-knapp.wide.rosa h2 {
    color: $ukm_gul;
}


@each $color_left in $ukm_farger {
    $index: index($ukm_farger, $color_left);
    $navn_left: nth($ukm_farger_navn, $index); 
    
    // Ensfarget
    ukm-knapp.#{$navn_left} {
        background: linear-gradient(-30deg, $color_left, $ukm_blaa, $color_left);
        color: $color_left;
    }

    // Gradients
    @each $color_right in $ukm_farger {
        $index: index($ukm_farger, $color_right);
        $navn_right: nth($ukm_farger_navn, $index);
        ukm-knapp.#{$navn_left}-#{$navn_right},
        .ukm-gradient-#{$navn_left}-#{$navn_right} {
            background: linear-gradient(-30deg, $color_right, $ukm_blaa, $color_left);
            color: $color_left;
        } 
        ukm-knapp.#{$navn_right}-#{$navn_left},
        .ukm-gradient-#{$navn_right}-#{$navn_left} {
                background: linear-gradient(-30deg, $color_left, $ukm_blaa, $color_right);
            color: $color_right;
        } 
    }
}