
.ukm-knapp-gul {
    margin: 0 auto;
    display: block;
    width: 200px;
    background: linear-gradient(-30deg, $ukm_gul, $ukm_blaa, $ukm_gul);
    border-radius: 5px;
    padding: 4px;
    
    color: $ukm_gul;
}


.ukm-knapp-rosa {
    margin: 0 auto;
    display: block;
    width: 200px;
    background: linear-gradient(-30deg, $ukm_rosa, $ukm_blaa, $ukm_rosa);
    border-radius: 5px;
    padding: 4px;

    color: $ukm_rosa;
}

.ukm-knapp-gronn {
    margin: 0 auto;
    display: block;
    width: 200px;
    background: linear-gradient(-30deg, $ukm_gronn, $ukm_blaa, $ukm_gronn);
    border-radius: 5px;
    padding: 4px;

    color: $ukm_gronn;
}

.ukm-knapp-blaa {
    margin: 0 auto;
    display: block;
    width: 200px;
    background: linear-gradient(-30deg, $ukm_blaa, transparent, $ukm_blaa);
    border-radius: 5px;
    padding: 4px;

    color: $ukm_blaa;
}

.ukm-knapp-text-container {
    background: $ukm_blaa;
    border-radius: 5px;
}

.ukm-knapp-text {
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'AvantGardeBold';
}